@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 95%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.questions {
  .secHeading {
    .h3,
    .h4 {
      padding-bottom: 1.5rem;
    }

    .p {
      font-size: var(--smallFontSize);
      color: var(--blackColor);
      padding-bottom: 2rem;
    }
  }

  .form {
    .formContent {
      gap: 1rem;

      .input,
      .textarea {
        background: var(--cardColor);
        width: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: var(--borderRadius);
        &::placeholder {
          font-size: var(--smallFontSize);
          color: var(--blackColor);
        }
      }

      .textarea {
        height: 100px;
        border-radius: 10px;
      }
    }
  }
}

/* Media Quesries */

@media screen and (min-width: 640px) {
  .questions {
    .secHeading {
      .h3,
      .h4 {
        font-size: var(--h2FontSize);
      }

      .p {
        font-size: var(--normalFontSize);
      }
    }

    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      gap: 2rem;

      .form {
        .formContent {
          .input,
          .textarea {
            font: var(--normalFontSize);
            &::placeholder {
              font-size: var(--normalFontSize);
              color: var(--blackColor);
            }
          }

          .textarea {
            height: 100px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .questions {
    .secHeading {
      .h3,
      .h4 {
        font-size: 1.5rem;
      }

      .p {
        font-size: var(--h3FontSize);
      }
    }

    .secContainer {
      gap: 3rem;
    }
  }
}
