@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 95%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 43, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.Home {
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;

  .videoBg {
    position: absolute;
    height: 100%;
    width: 100%;

    .video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .sectionText {
    position: absolute;
    height: 100%;
    top: 30%;
    bottom: 50%;
    color: var(--whiteColor);
    padding: 0 1.3rem;

    .h1Heading {
      font-size: var(--biggestFontSize);
      font-weight: 900;
    }

    .pHeading {
      padding: 1rem 0;
      font-size: var(--normalFontSize);
      font-weight: 500;
    }

    .btn {
      gap: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: var(--h3FontSize);
    }
  }

  .popularPlaces {
    display: none;
  }
}

/* Media Queries */
@media screen and (min-width: 480px) {
  .Home {
    .sectionText {
      padding: 0 2rem;
      justify-content: center;
      text-align: center;
      width: 100%;

      .h1Heading {
        font-size: var(--biggestFontSize);
        font-weight: 900;
      }

      .pHeading {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 70%;
        margin: auto;
      }

      .btn {
        font-size: var(--h3FontSize);
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .Home {
    .sectionText {
      width: 100%;

      .h1Heading {
        font-size: 3rem;
        font-weight: 900;
        max-width: 70%;
        margin: auto;
      }

      .pHeading {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 70%;
        margin: auto;
      }

      .btn {
        gap: 0.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: var(--h3FontSize);
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  .Home {
    position: relative;

    .sectionText {
      .h1Heading {
        font-size: 3.3rem;
        font-weight: 900;
        max-width: 70%;
        margin: auto;
      }

      .pHeading {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 84%;
        margin: auto;
      }
    }

    .popularPlaces {
      display: block;
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .content {
        .h3Heading {
          color: var(--whiteColor);
          padding: 1rem 0;
          position: relative;
          &::after {
            content: "";
            width: 83%;
            height: 2px;
            background: rgb(202, 202, 202);
            right: 0;
            bottom: 50%;
            position: absolute;
          }
        }

        .images {
          align-items: center;
          justify-content: center;
          gap: 2rem;

          .img {
            cursor: pointer;
            height: 100px;
            width: 210px;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.15s ease-in;

            &:hover {
              scale: 1.05;
              transition: all 0.15s ease-out;
            }
          }
        }
      }
    }
  }
}
